@charset "UTF-8";

//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){

.none-d{
  display:none;
}

.menu-ul-li{

}

.menu-ul-li{
  width: 100%;
  overflow:auto;
background: #2F2D2D none repeat scroll 0% 0%;
  p{
    text-align:center;
    color:#A54F4F;
 @include adjust-font-size-to(2rem, 1);
  }
  ul li{
    text-align: center;
  }
  ul li a{
    display:block;
    padding:2%;
    text-decoration: none;

  }
}



//*header menu*/

.menu-site{
  ul{

    li{
        display:inline-block;
padding-left:7%;

    }
  }
}


.sb-slidebar{
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9) inset;

}



  //*/*Menu click*************************************************************//*/


  .menu-click {
    cursor: pointer;
    padding-left: 1em;
    width: 15px;
    margin-right: 0%;
    position: absolute;
    top: 5%;
    right: 3%;
    color: #FFF;
    background: #AB1111 none repeat scroll 0% 0%;
    border-radius: 50%;
    padding-right: 1em;
  }

  .fa-bars{
  margin-right:8px;
  }



  //********************************************************************************************************

  /*************************MENU SLIDEBARWIDTH/****/

.menu-slidebar-width{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}


/**end media desctop*/
}
