@charset "UTF-8";


//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){

body{
  background: #EAEAEA none repeat scroll 0% 0%;
}
/*header*/
header{
  @include column(12/12);
}
.menu-item-site{
    @include column(12/12);
}



.almet-logotip-view{
  margin-left:10%;
}
.almet2{
  width:150px;
  height:150px;
  margin-left: auto;
margin-right: auto;

}

/*end header*/
/**content*/
.items{
  @include column(12/12);
}

.sidebar{
    @include column(3/12);
}

.item-row2{
  @include column(7/12);
}



/**end media desctop*/
}
