@charset "UTF-8";


//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){

body{
  background: #EAEAEA none repeat scroll 0% 0%;
}
/*header*/
header{
  @include column(12/12);
}

.header-menu-toggle{
  position:relative;

}
.chief{
  @include column(11/12, $offset: 0.5/12);
}
/*end header*/
/**content*/

.menu-item{
  position:absolute;
  top: 30%;
  left: 0px;
cursor: pointer;
}


.menu{
  position:absolute;
  top: 30%;
  right: 3%;
  cursor: pointer;
}

.item-row{
  @include column(12/12);
}


.mod-row{
  @include column(6/12, $offset: 1/12);
  text-align:justify;
}

.mod-row2{
  @include column(4/12);
}





/**end media desctop*/
}
