@charset "UTF-8";
@import "../vertical-rhythm.scss";

//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){
/*header*/


.menu-item-site{
  @include leader($lines:1, $property:padding);
  @include trailer($lines:1, $property:padding);
}

.logotip{
  @include leader($lines:1, $property:padding);
  text-transform: uppercase;
font-size: 2.1rem;
color: rgb(255, 255, 255);
text-align: center;
}

.three h2{
    @include leader($lines:1, $property:padding);
  text-align: center;
}

.menu-ul-li{
  width: 100%;
background: #2F2D2D none repeat scroll 0% 0%;
  p{
    text-align:center;
    color:#fff;
 @include adjust-font-size-to(2rem, 1);
 @include leader($lines:1, $property:padding);
 @include trailer($lines:1, $property:padding);
  }
  ul li{
    text-align: center;
  }
  ul li a{
    display:block;
    @include leader($lines:0.5, $property:padding);
    @include trailer($lines:0.5, $property:padding);
    text-decoration: none;
&:hover{
  background: #AD4444 none repeat scroll 0% 0%;
}
  }
}


/**end media desctop*/
}
