@charset "UTF-8";



/* font-family: "HeliosCondRegular"; */
@font-face {
    font-family: "HeliosCondRegular";
    src: url("../../fonts/HeliosCondRegular/HeliosCondRegular.eot");
    src: url("../../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"),
    url("../../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HeliosCondItalic"; */
@font-face {
    font-family: "HeliosCondItalic";
    src: url("../../fonts/HeliosCondItalic/HeliosCondItalic.eot");
    src: url("../../fonts/HeliosCondItalic/HeliosCondItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/HeliosCondItalic/HeliosCondItalic.woff") format("woff"),
    url("../../fonts/HeliosCondItalic/HeliosCondItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HeliosCondBold"; */
@font-face {
    font-family: "HeliosCondBold";
    src: url("../../fonts/HeliosCondBold/HeliosCondBold.eot");
    src: url("../../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
    url("../../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HeliosCondBoldItalic"; */
@font-face {
    font-family: "HeliosCondBoldItalic";
    src: url("../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot");
    src: url("../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.woff") format("woff"),
    url("../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}




/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
