@charset "UTF-8";
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*  Syntax Quick Reference -------------------------- column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter) span($ratio: 1, $offset: 0) shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter) unshift() edit() center($max_width: 1410px, $pad: 0) stack($pad: 0, $align: false) unstack() align($direction: both) cf()
*/
/** Grid settings. All values are defaults and can therefore be easily overidden. */
/** List functions courtesy of the wonderful folks at Team Sass. Check out their awesome grid: Singularity. */
/** Get  percentage from a given ratio. @param {number} [$ratio=1] - The column ratio of the element. @returns {number} - The percentage value. */
/** Work out the column widths based on the ratio and gutter sizes. @param {number} [$ratios=1] - The column ratio of the element. @param {number} [$gutter=$jeet-gutter] - The gutter for the column. @returns {list} $width $gutter - A list containing the with and gutter for the element. */
/** Get the set layout direction for the project. @returns {string} $direction - The layout direction. */
/** Replace a specified list value with a new value (uses built in set-nth() if available) @param {list} $list - The list of values you want to alter. @param {number} $index - The index of the list item you want to replace. @param {*} $value - The value you want to replace $index with. @returns {list} $list - The list with the value replaced or removed. @warn if an invalid index is supplied. */
/** Reverse a list (progressively enhanced for Sass 3.3) @param {list} $list - The list of values you want to reverse. @returns {list} $result - The reversed list. */
/** Get the opposite direction to a given value. @param {string} $dir - The direction you want the opposite of. @returns {string} - The opposite direction to $dir. @warn if an incorrect string is provided. */
/** Style an element as a column with a gutter. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$offset=0] - A offset specified as a fraction (see $ratios). @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns. @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** An alias for the column mixin. @param [$args...] - All arguments get passed through to column(). */
/** Get the width of a column and nothing else. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** Get the gutter size of a column and nothing else. @param {number} [ratios=1] - A width relative to its container as a fraction. @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width. */
/** An alias for the column-width function. @param [$args...] - All arguments get passed through to column(). */
/** An alias for the column-gutter function. @param [$args...] - All arguments get passed through to column(). */
/** Style an element as a column without any gutters for a seamless row. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$offset=0] - A offset specified as a fraction (see $ratios). @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns. @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one. */
/** Reorder columns without altering the HTML. @param {number} [$ratios=0] - Specify how far along you want the element to move. @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** Reset an element that has had shift() applied to it. */
/** View the grid and its layers for easy debugging. @param {string} [$color=black] - The background tint applied. @param {boolean} [$important=false] - Whether to apply the style as !important. */
/** Alias for edit(). */
/** Horizontally center an element. @param {number} [$max-width=1410px] - The max width the element can be. @param {number} [$pad=0] - Specify the element's left and right padding. */
/** Uncenter an element. */
/** Stack an element so that nothing is either side of it. @param {number} [$pad=0] - Specify the element's left and right padding. @param {boolean/string} [$align=false] - Specify the text align for the element. */
/** Unstack an element. */
/** Center an element on either or both axes. @requires A parent container with relative positioning. @param {string} [$direction=both] - Specify which axes to center the element on. */
/** Apply a clearfix to an element. */
/* font-family: "HeliosCondRegular"; */
@font-face { font-family: "HeliosCondRegular"; src: url("../../../fonts/HeliosCondRegular/HeliosCondRegular.eot"); src: url("../../../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"), url("../../../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "HeliosCondItalic"; */
@font-face { font-family: "HeliosCondItalic"; src: url("../../../fonts/HeliosCondItalic/HeliosCondItalic.eot"); src: url("../../../fonts/HeliosCondItalic/HeliosCondItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondItalic/HeliosCondItalic.woff") format("woff"), url("../../../fonts/HeliosCondItalic/HeliosCondItalic.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "HeliosCondBold"; */
@font-face { font-family: "HeliosCondBold"; src: url("../../../fonts/HeliosCondBold/HeliosCondBold.eot"); src: url("../../../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../../../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "HeliosCondBoldItalic"; */
@font-face { font-family: "HeliosCondBoldItalic"; src: url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot"); src: url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.woff") format("woff"), url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RobotoCondensedRegular"; */
@font-face { font-family: "RobotoCondensedRegular"; src: url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot"); src: url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "RobotoCondensedLight"; */
@font-face { font-family: "RobotoCondensedLight"; src: url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.eot"); src: url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "RobotoCondensedBold"; */
@font-face { font-family: "RobotoCondensedBold"; src: url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.eot"); src: url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* line 4, ../../../sass/theme/_base.scss */
.clear { clear: both; }

@media (min-width: 200px) and (max-width: 767px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 21, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 26px; font-size: 1.602rem; line-height: 24px; line-height: 1.5rem; }
  /* line 22, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 23px; font-size: 1.424rem; line-height: 24px; line-height: 1.5rem; }
  /* line 23, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 24, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 18px; font-size: 1.125rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 25, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 26, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 14px; font-size: 0.9rem; line-height: 24px; line-height: 1.5rem; }
  /* line 29, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 33, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 0px; text-transform: uppercase; color: #fff; }
  /* line 40, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 44, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 49, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: none !important; }
  /* line 56, ../../../sass/theme/_vertical-rhythm.scss */
  .logotip { font-family: Arial, sans-serif; }
  /* line 60, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 62, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 67, ../../../sass/theme/_vertical-rhythm.scss */
  input { font-family: Arial, sans-serif; }
  /* line 71, ../../../sass/theme/_vertical-rhythm.scss */
  .title-p { font-family: "RobotoCondensedLight"; }
  /* line 74, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; border-image: none; }
  /* line 80, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 768px) and (max-width: 991px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 95, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 39px; font-size: 2.441rem; line-height: 48px; line-height: 3rem; }
  /* line 96, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 31px; font-size: 1.953rem; line-height: 24px; line-height: 1.5rem; }
  /* line 97, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 25px; font-size: 1.563rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 98, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 20px; font-size: 1.25rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 99, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 100, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 103, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 109, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 2px; text-transform: uppercase; color: #fff; }
  /* line 116, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 120, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 126, ../../../sass/theme/_vertical-rhythm.scss */
  .logotip { font-family: Arial, sans-serif; }
  /* line 130, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: medium none !important; }
  /* line 136, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 138, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 143, ../../../sass/theme/_vertical-rhythm.scss */
  input { font-family: Arial, sans-serif; }
  /* line 147, ../../../sass/theme/_vertical-rhythm.scss */
  .title-p { font-family: "RobotoCondensedLight"; }
  /* line 150, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; }
  /* line 155, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 992px) and (max-width: 1199px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 170, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 64px; font-size: 3.998rem; line-height: 120px; line-height: 7.5rem; }
  /* line 171, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 45px; font-size: 2.827rem; line-height: 72px; line-height: 4.5rem; }
  /* line 172, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 32px; font-size: 1.999rem; line-height: 48px; line-height: 3rem; }
  /* line 173, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 23px; font-size: 1.414rem; line-height: 24px; line-height: 1.5rem; }
  /* line 174, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 175, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 19px; font-size: 1.2rem; line-height: 24px; line-height: 1.5rem; }
  /* line 178, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 184, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 5px; text-transform: uppercase; color: #fff; }
  /* line 191, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 195, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 201, ../../../sass/theme/_vertical-rhythm.scss */
  .logotip { font-family: Arial, sans-serif; }
  /* line 205, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: medium none !important; }
  /* line 211, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 213, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 218, ../../../sass/theme/_vertical-rhythm.scss */
  input { font-family: Arial, sans-serif; }
  /* line 222, ../../../sass/theme/_vertical-rhythm.scss */
  .title-p { font-family: "RobotoCondensedLight"; }
  /* line 226, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; }
  /* line 232, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 1200px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 248, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 64px; font-size: 3.998rem; line-height: 120px; line-height: 7.5rem; }
  /* line 249, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 45px; font-size: 2.827rem; line-height: 72px; line-height: 4.5rem; }
  /* line 250, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 32px; font-size: 1.999rem; line-height: 48px; line-height: 3rem; }
  /* line 251, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 23px; font-size: 1.414rem; line-height: 24px; line-height: 1.5rem; }
  /* line 252, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 253, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 19px; font-size: 1.2rem; line-height: 24px; line-height: 1.5rem; }
  /* line 256, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 262, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 5px; text-transform: uppercase; color: #fff; }
  /* line 269, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 273, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 279, ../../../sass/theme/_vertical-rhythm.scss */
  .logotip { font-family: Arial, sans-serif; }
  /* line 283, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: medium none !important; }
  /* line 289, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 291, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 296, ../../../sass/theme/_vertical-rhythm.scss */
  input { font-family: Arial, sans-serif; }
  /* line 300, ../../../sass/theme/_vertical-rhythm.scss */
  .title-p { font-family: "RobotoCondensedLight"; }
  /* line 304, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; }
  /* line 310, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 200px) and (max-width: 767px) { /* line 8, ../../../sass/theme/theme-items/_typography-mobail.scss */
  .almet-super-menu { font-size: 23px; font-size: 1.424rem; line-height: 24px; line-height: 1.5rem; padding-top: 24px; padding-top: 1.5rem; padding-bottom: 48px; padding-bottom: 3rem; border-bottom-width: 1px; border-bottom-width: 0.0625rem; border-bottom-style: solid; padding-bottom: 4px; padding-bottom: 0.2375rem; color: #9E2121; text-align: center; }
  /* line 18, ../../../sass/theme/theme-items/_typography-mobail.scss */
  .menu-slidebar-width ul { padding-top: 24px; padding-top: 1.5rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 22, ../../../sass/theme/theme-items/_typography-mobail.scss */
  .menu-slidebar-width ul li a { display: block; width: 100%; text-align: center; text-decoration: none; padding-top: 12px; padding-top: 0.75rem; padding-bottom: 12px; padding-bottom: 0.75rem; font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; }
  /* line 31, ../../../sass/theme/theme-items/_typography-mobail.scss */
  .menu-slidebar-width ul li a:hover { font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; border-right: 4px solid #9F2626; background: #AB9D9D none repeat scroll 0% 0%; color: #000; }
  /*end media mobail*/ }
@media (min-width: 992px) and (max-width: 1199px) { /* line 11, ../../../sass/theme/theme-items/_typography-medium.scss */
  .almet-super-menu { font-size: 23px; font-size: 1.424rem; line-height: 24px; line-height: 1.5rem; padding-top: 24px; padding-top: 1.5rem; padding-bottom: 48px; padding-bottom: 3rem; border-bottom-width: 1px; border-bottom-width: 0.0625rem; border-bottom-style: solid; padding-bottom: 4px; padding-bottom: 0.2375rem; color: #9E2121; text-align: center; }
  /* line 21, ../../../sass/theme/theme-items/_typography-medium.scss */
  .menu-slidebar-width ul { padding-top: 24px; padding-top: 1.5rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 25, ../../../sass/theme/theme-items/_typography-medium.scss */
  .menu-slidebar-width ul li a { display: block; width: 100%; text-align: center; text-decoration: none; padding-top: 12px; padding-top: 0.75rem; padding-bottom: 12px; padding-bottom: 0.75rem; font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; }
  /* line 34, ../../../sass/theme/theme-items/_typography-medium.scss */
  .menu-slidebar-width ul li a:hover { font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; border-right: 4px solid #9F2626; background: #AB9D9D none repeat scroll 0% 0%; color: #000; } }
@media (min-width: 768px) and (max-width: 991px) { /* line 10, ../../../sass/theme/theme-items/_typography-tablet.scss */
  .almet-super-menu { font-size: 23px; font-size: 1.424rem; line-height: 24px; line-height: 1.5rem; padding-top: 24px; padding-top: 1.5rem; padding-bottom: 48px; padding-bottom: 3rem; border-bottom-width: 1px; border-bottom-width: 0.0625rem; border-bottom-style: solid; padding-bottom: 4px; padding-bottom: 0.2375rem; color: #9E2121; text-align: center; }
  /* line 20, ../../../sass/theme/theme-items/_typography-tablet.scss */
  .menu-slidebar-width ul { padding-top: 24px; padding-top: 1.5rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 24, ../../../sass/theme/theme-items/_typography-tablet.scss */
  .menu-slidebar-width ul li a { display: block; width: 100%; text-align: center; text-decoration: none; padding-top: 12px; padding-top: 0.75rem; padding-bottom: 12px; padding-bottom: 0.75rem; font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; }
  /* line 33, ../../../sass/theme/theme-items/_typography-tablet.scss */
  .menu-slidebar-width ul li a:hover { font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; border-right: 4px solid #9F2626; background: #AB9D9D none repeat scroll 0% 0%; color: #000; } }
@media (min-width: 1200px) { /*header*/
  /* line 9, ../../../sass/theme/theme-items/_typography.scss */
  .menu-item-site { padding-top: 24px; padding-top: 1.5rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 14, ../../../sass/theme/theme-items/_typography.scss */
  .logotip { padding-top: 24px; padding-top: 1.5rem; text-transform: uppercase; font-size: 2.1rem; color: white; text-align: center; }
  /* line 22, ../../../sass/theme/theme-items/_typography.scss */
  .three h2 { padding-top: 24px; padding-top: 1.5rem; text-align: center; }
  /* line 27, ../../../sass/theme/theme-items/_typography.scss */
  .menu-ul-li { width: 100%; background: #2F2D2D none repeat scroll 0% 0%; }
  /* line 30, ../../../sass/theme/theme-items/_typography.scss */
  .menu-ul-li p { text-align: center; color: #fff; font-size: 32px; font-size: 2rem; line-height: 24px; line-height: 1.5rem; padding-top: 24px; padding-top: 1.5rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 37, ../../../sass/theme/theme-items/_typography.scss */
  .menu-ul-li ul li { text-align: center; }
  /* line 40, ../../../sass/theme/theme-items/_typography.scss */
  .menu-ul-li ul li a { display: block; padding-top: 12px; padding-top: 0.75rem; padding-bottom: 12px; padding-bottom: 0.75rem; text-decoration: none; }
  /* line 45, ../../../sass/theme/theme-items/_typography.scss */
  .menu-ul-li ul li a:hover { background: #AD4444 none repeat scroll 0% 0%; }
  /**end media desctop*/ }
@media (min-width: 200px) and (max-width: 767px) { /* line 11, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-site ul li { display: inline-block; padding-left: 7%; }
  /* line 22, ../../../sass/theme/theme-items/_components-mobail.scss */
  #email { width: 164px; background: rgba(119, 48, 48, 0.69) none repeat scroll 0% 0%; border: none; color: #fff; height: 49%; border-radius: 2px; }
  /* line 30, ../../../sass/theme/theme-items/_components-mobail.scss */
  #submit { padding-left: 6%; padding-right: 6%; border: medium none; border-radius: 2px; background: rgba(23, 98, 31, 0.74) none repeat scroll 0% 0%; color: #FFF; height: 51%; float: right; }
  /* line 41, ../../../sass/theme/theme-items/_components-mobail.scss */
  #submit:hover { border: none; background: rgba(23, 98, 31, 0.94) none repeat scroll 0% 0%; }
  /* line 48, ../../../sass/theme/theme-items/_components-mobail.scss */
  input[placeholder] { padding-left: 2%; }
  /* line 57, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-click { cursor: pointer; padding-left: 1.25em; width: 23px; height: 40px; margin-right: 2%; position: absolute; top: 12%; right: 8%; }
  /* line 67, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-global { backface-visibility: hidden; position: absolute; left: 0; border-top: 5px solid #811b1b; width: 100%; transition: 0.55s; }
  /* line 75, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-top { top: 0; background: #000; }
  /* line 79, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-middle { top: 12px; background: #000; }
  /* line 83, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-bottom { top: 24px; background: #000; }
  /* line 87, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-top-click { backface-visibility: hidden; top: 15px; transform: rotate(50deg); transition: 0.33s 0.3s; }
  /* line 93, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-middle-click { opacity: 0; }
  /* line 96, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-bottom-click { backface-visibility: hidden; top: 15px; transform: rotate(-410deg); transition: 0.33s 0.3s; }
  /*************************MENU SLIDEBARWIDTH/****/
  /* line 109, ../../../sass/theme/theme-items/_components-mobail.scss */
  .menu-slidebar-width { width: 80%; margin-left: auto; margin-right: auto; }
  /*********END SLIDEBAR******/
  /*end media mobail*/ }
@media (min-width: 992px) and (max-width: 1199px) { /* line 13, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-site ul li { display: inline-block; padding-left: 7%; }
  /* line 24, ../../../sass/theme/theme-items/_components-medium.scss */
  #email { width: 260px; background: rgba(119, 48, 48, 0.69) none repeat scroll 0% 0%; border: none; color: #fff; height: 49%; border-radius: 2px; }
  /* line 32, ../../../sass/theme/theme-items/_components-medium.scss */
  #submit { padding-left: 6%; padding-right: 6%; border: medium none; border-radius: 2px; margin-right: 33px; background: rgba(23, 98, 31, 0.74) none repeat scroll 0% 0%; color: #FFF; height: 51%; float: right; }
  /* line 44, ../../../sass/theme/theme-items/_components-medium.scss */
  #submit:hover { border: none; background: rgba(23, 98, 31, 0.94) none repeat scroll 0% 0%; }
  /* line 51, ../../../sass/theme/theme-items/_components-medium.scss */
  input[placeholder] { padding-left: 2%; }
  /* line 60, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-click { cursor: pointer; padding-left: 1.25em; width: 40px; height: 40px; margin-right: 2%; position: absolute; top: 12%; right: 7%; }
  /* line 70, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-global { backface-visibility: hidden; position: absolute; left: 0; border-top: 5px solid #811b1b; width: 100%; transition: 0.55s; }
  /* line 78, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-top { top: 0; background: #000; }
  /* line 82, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-middle { top: 18px; background: #000; }
  /* line 86, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-bottom { top: 36px; background: #000; }
  /* line 90, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-top-click { backface-visibility: hidden; top: 15px; transform: rotate(50deg); transition: 0.55s 0.5s; }
  /* line 96, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-middle-click { opacity: 0; }
  /* line 99, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-bottom-click { backface-visibility: hidden; top: 15px; transform: rotate(-410deg); transition: 0.55s 0.5s; }
  /*************************MENU SLIDEBARWIDTH/****/
  /* line 110, ../../../sass/theme/theme-items/_components-medium.scss */
  .menu-slidebar-width { width: 80%; margin-left: auto; margin-right: auto; }
  /*********END SLIDEBAR******/ }
@media (min-width: 768px) and (max-width: 991px) { /* line 13, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-site ul li { display: inline-block; padding-left: 7%; }
  /* line 24, ../../../sass/theme/theme-items/_components-tablet.scss */
  #email { width: 260px; background: rgba(119, 48, 48, 0.69) none repeat scroll 0% 0%; border: none; color: #fff; height: 49%; border-radius: 2px; }
  /* line 32, ../../../sass/theme/theme-items/_components-tablet.scss */
  #submit { padding-left: 6%; padding-right: 6%; border: medium none; border-radius: 2px; margin-right: 33px; background: rgba(23, 98, 31, 0.74) none repeat scroll 0% 0%; color: #FFF; height: 51%; float: right; }
  /* line 44, ../../../sass/theme/theme-items/_components-tablet.scss */
  #submit:hover { border: none; background: rgba(23, 98, 31, 0.94) none repeat scroll 0% 0%; }
  /* line 51, ../../../sass/theme/theme-items/_components-tablet.scss */
  input[placeholder] { padding-left: 2%; }
  /* line 60, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-click { cursor: pointer; padding-left: 1.25em; width: 40px; height: 40px; margin-right: 2%; position: absolute; top: 12%; right: 7%; }
  /* line 70, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-global { backface-visibility: hidden; position: absolute; left: 0; border-top: 5px solid #811b1b; width: 100%; transition: 0.55s; }
  /* line 78, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-top { top: 0; background: #000; }
  /* line 82, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-middle { top: 18px; background: #000; }
  /* line 86, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-bottom { top: 36px; background: #000; }
  /* line 90, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-top-click { backface-visibility: hidden; top: 15px; transform: rotate(50deg); transition: 0.55s 0.5s; }
  /* line 96, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-middle-click { opacity: 0; }
  /* line 99, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-bottom-click { backface-visibility: hidden; top: 15px; transform: rotate(-410deg); transition: 0.55s 0.5s; }
  /*************************MENU SLIDEBARWIDTH/****/
  /* line 112, ../../../sass/theme/theme-items/_components-tablet.scss */
  .menu-slidebar-width { width: 80%; margin-left: auto; margin-right: auto; }
  /*********END SLIDEBAR******/ }
@media (min-width: 1200px) { /* line 10, ../../../sass/theme/theme-items/_components.scss */
  .menu-ul-li { width: 100%; overflow: auto; background: #2F2D2D none repeat scroll 0% 0%; }
  /* line 14, ../../../sass/theme/theme-items/_components.scss */
  .menu-ul-li p { text-align: center; color: #A54F4F; font-size: 32px; font-size: 2rem; line-height: 24px; line-height: 1.5rem; }
  /* line 19, ../../../sass/theme/theme-items/_components.scss */
  .menu-ul-li ul li { text-align: center; }
  /* line 22, ../../../sass/theme/theme-items/_components.scss */
  .menu-ul-li ul li a { display: block; padding: 2%; text-decoration: none; }
  /* line 37, ../../../sass/theme/theme-items/_components.scss */
  .menu-site ul li { display: inline-block; padding-left: 7%; }
  /* line 47, ../../../sass/theme/theme-items/_components.scss */
  #email { width: 260px; background: rgba(119, 48, 48, 0.69) none repeat scroll 0% 0%; border: none; color: #fff; height: 49%; border-radius: 2px; }
  /* line 55, ../../../sass/theme/theme-items/_components.scss */
  #submit { padding-left: 6%; padding-right: 6%; border: medium none; border-radius: 2px; margin-right: 33px; background: rgba(23, 98, 31, 0.74) none repeat scroll 0% 0%; color: #FFF; height: 51%; float: right; }
  /* line 67, ../../../sass/theme/theme-items/_components.scss */
  #submit:hover { border: none; background: rgba(23, 98, 31, 0.94) none repeat scroll 0% 0%; }
  /* line 74, ../../../sass/theme/theme-items/_components.scss */
  input[placeholder] { padding-left: 2%; }
  /**end media desctop*/ }
@media (min-width: 200px) and (max-width: 767px) { /*end media mobail*/ }
@media (min-width: 1200px) { /* line 7, ../../../sass/theme/theme-items/_grid.scss */
  body { background: #EAEAEA none repeat scroll 0% 0%; }
  /*header*/
  /* line 11, ../../../sass/theme/theme-items/_grid.scss */
  header { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:before, header:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:last-child { margin-right: 0%; }
  /* line 14, ../../../sass/theme/theme-items/_grid.scss */
  .menu-item-site { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu-item-site:before, .menu-item-site:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu-item-site:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu-item-site:last-child { margin-right: 0%; }
  /* line 20, ../../../sass/theme/theme-items/_grid.scss */
  .almet-logotip-view { margin-left: 10%; }
  /* line 23, ../../../sass/theme/theme-items/_grid.scss */
  .almet2 { width: 150px; height: 150px; margin-left: auto; margin-right: auto; }
  /*end header*/
  /**content*/
  /* line 33, ../../../sass/theme/theme-items/_grid.scss */
  .items { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .items:before, .items:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .items:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .items:last-child { margin-right: 0%; }
  /* line 37, ../../../sass/theme/theme-items/_grid.scss */
  .sidebar { *zoom: 1; float: left; clear: none; text-align: inherit; width: 22.75%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .sidebar:before, .sidebar:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .sidebar:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .sidebar:last-child { margin-right: 0%; }
  /* line 41, ../../../sass/theme/theme-items/_grid.scss */
  .item-row2 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 57.08333%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .item-row2:before, .item-row2:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .item-row2:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .item-row2:last-child { margin-right: 0%; }
  /**end media desctop*/ }

/*# sourceMappingURL=items.css.map */
