@charset "UTF-8";

//Верстка под планшеты******************************************************************************************
@media (min-width:768px) and (max-width:991px){
//********************************************************************************************************



////************** form validation email
.form{
  @include column(2/6);
}

  form{
    width: 400px;
    margin: 0 auto 0;

  }
  .input-holder{
    position: relative;

  }
.validate{
  font-size: 0.9rem;
}

  input,
  textarea{
    // border: 2px solid #ccc;
    // border-radius: 4px;
    padding: 1rem;
    width: 100%;
    resize: none;
    transition: .3s;
    border:none;
    background: rgba(33, 33, 33, 0.58) none repeat scroll 0% 0%;
    color:#fff;
     overflow: hidden;
     font-family: Arial,sans-serif;
       font-size: 0.9rem;
    &:focus{
      overflow: hidden;
      //  border: 0.2px solid #999;
      outline: none;
    background: rgba(33, 33, 33, 0.88) none repeat scroll 0% 0%;
    }
  }
  textarea{
    min-height: 100px;
  }
  .message{
    position: absolute;
    z-index: 9;
    display: none;
    width: 100%;
    margin-top: 10px;
    color: #6E4D4D;
    text-align: center;
    // &:after{
    //   content:'';
    //   position: absolute;
    //   top: -10px;
    //   left: 10%;
    //   display: block;
    //   margin-left: -10px;
    //   border: solid;
    //   border-color: #ccc transparent #D9585C;
    //   border-width: 0 10px 10px;
    // }
  }
  .is-valid{
    border-color: #AAD661 !important;
    transition: 0;
  }
  .not-valid{
    border-color: #D7595F;
    transition: 0;
    &+.message{
      display: block !important;
    }
  }
  .submit{
    display: block;
    width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: #ccc;
    transition: .3s;
    cursor: pointer;
    &:hover{
      color: #AAD661;
      border-color: #AAD661;
    }
  }




//end media tablet
}
