@charset "UTF-8";
@import "../vertical-rhythm.scss";

//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){

.props{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:0, $property:padding);
}

.logotip{
@include adjust-font-size-to(1.5rem, 1);
text-transform: uppercase;
color:#fff;
letter-spacing: 0px;
font-family: $logotip;
@include leader($lines:0.1, $property:padding);
// @include trailer($lines:1, $property:padding);
  @include trailing-border($width:2px,$lines:0.4, $border-style:solid);
}

.text-contacts{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:1, $property:padding);
  p{
    color:#fff;
      @include leader($lines:0.5, $property:padding);
  }
  ul li{
    color:#fff;
  }
}

///*Form*/

.input-holder{
		@include leader($lines:2, $property:padding);
}

.submit{
	@include leader($lines:2, $property:margin);
	@include trailer($lines:2, $property:margin);
  	font-family:$p-font;
}

/**end media desctop*/
}
