@charset "UTF-8";
@import "../vertical-rhythm.scss";

//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){

.props{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:0, $property:padding);
}

.logotip{
@include adjust-font-size-to(1.7rem, 1);
text-transform: uppercase;
color:#fff;
letter-spacing: 4px;
@include leader($lines:1, $property:padding);
@include trailer($lines:1, $property:padding);
}

.text-contacts{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:1, $property:padding);
  p{
    color:#fff;
      @include leader($lines:0.5, $property:padding);
  }
  ul li{
    color:#fff;
  }
}

/**end media desctop*/
}
