@charset "UTF-8";
@import "../vertical-rhythm";
//Верстка под medium-device******************************************************************************************
@media (min-width:992px) and (max-width:1199px){
//********************************************************************************************************
.props{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:0, $property:padding);
}

.logotip{
@include adjust-font-size-to(1.7rem, 1);
text-transform: uppercase;
color:#fff;
letter-spacing: 4px;
font-family: $logotip;
@include leader($lines:1, $property:padding);
@include trailer($lines:1, $property:padding);
}

.text-contacts{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:1, $property:padding);
  p{
    color:#fff;
      @include leader($lines:0.5, $property:padding);
  }
  ul li{
    color:#fff;
  }
}

.back-display-device-yes{
  @include leader($lines:2, $property:margin);
  @include trailer($lines:1, $property:margin);
}

///*Form*/

.input-holder{
		@include leader($lines:2, $property:padding);
}

.submit{
	@include leader($lines:2, $property:margin);
	@include trailer($lines:2, $property:margin);
  	font-family:$p-font;
}


//end media medium
}
