@charset "UTF-8";
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*  Syntax Quick Reference -------------------------- column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter) span($ratio: 1, $offset: 0) shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter) unshift() edit() center($max_width: 1410px, $pad: 0) stack($pad: 0, $align: false) unstack() align($direction: both) cf()
*/
/** Grid settings. All values are defaults and can therefore be easily overidden. */
/** List functions courtesy of the wonderful folks at Team Sass. Check out their awesome grid: Singularity. */
/** Get  percentage from a given ratio. @param {number} [$ratio=1] - The column ratio of the element. @returns {number} - The percentage value. */
/** Work out the column widths based on the ratio and gutter sizes. @param {number} [$ratios=1] - The column ratio of the element. @param {number} [$gutter=$jeet-gutter] - The gutter for the column. @returns {list} $width $gutter - A list containing the with and gutter for the element. */
/** Get the set layout direction for the project. @returns {string} $direction - The layout direction. */
/** Replace a specified list value with a new value (uses built in set-nth() if available) @param {list} $list - The list of values you want to alter. @param {number} $index - The index of the list item you want to replace. @param {*} $value - The value you want to replace $index with. @returns {list} $list - The list with the value replaced or removed. @warn if an invalid index is supplied. */
/** Reverse a list (progressively enhanced for Sass 3.3) @param {list} $list - The list of values you want to reverse. @returns {list} $result - The reversed list. */
/** Get the opposite direction to a given value. @param {string} $dir - The direction you want the opposite of. @returns {string} - The opposite direction to $dir. @warn if an incorrect string is provided. */
/** Style an element as a column with a gutter. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$offset=0] - A offset specified as a fraction (see $ratios). @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns. @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** An alias for the column mixin. @param [$args...] - All arguments get passed through to column(). */
/** Get the width of a column and nothing else. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** Get the gutter size of a column and nothing else. @param {number} [ratios=1] - A width relative to its container as a fraction. @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width. */
/** An alias for the column-width function. @param [$args...] - All arguments get passed through to column(). */
/** An alias for the column-gutter function. @param [$args...] - All arguments get passed through to column(). */
/** Style an element as a column without any gutters for a seamless row. @param {number} [$ratios=1] - A width relative to its container as a fraction. @param {number} [$offset=0] - A offset specified as a fraction (see $ratios). @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns. @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one. */
/** Reorder columns without altering the HTML. @param {number} [$ratios=0] - Specify how far along you want the element to move. @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not. @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width. */
/** Reset an element that has had shift() applied to it. */
/** View the grid and its layers for easy debugging. @param {string} [$color=black] - The background tint applied. @param {boolean} [$important=false] - Whether to apply the style as !important. */
/** Alias for edit(). */
/** Horizontally center an element. @param {number} [$max-width=1410px] - The max width the element can be. @param {number} [$pad=0] - Specify the element's left and right padding. */
/** Uncenter an element. */
/** Stack an element so that nothing is either side of it. @param {number} [$pad=0] - Specify the element's left and right padding. @param {boolean/string} [$align=false] - Specify the text align for the element. */
/** Unstack an element. */
/** Center an element on either or both axes. @requires A parent container with relative positioning. @param {string} [$direction=both] - Specify which axes to center the element on. */
/** Apply a clearfix to an element. */
/* font-family: "HeliosCondRegular"; */
@font-face { font-family: "HeliosCondRegular"; src: url("../../../fonts/HeliosCondRegular/HeliosCondRegular.eot"); src: url("../../../fonts/HeliosCondRegular/HeliosCondRegular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondRegular/HeliosCondRegular.woff") format("woff"), url("../../../fonts/HeliosCondRegular/HeliosCondRegular.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "HeliosCondItalic"; */
@font-face { font-family: "HeliosCondItalic"; src: url("../../../fonts/HeliosCondItalic/HeliosCondItalic.eot"); src: url("../../../fonts/HeliosCondItalic/HeliosCondItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondItalic/HeliosCondItalic.woff") format("woff"), url("../../../fonts/HeliosCondItalic/HeliosCondItalic.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "HeliosCondBold"; */
@font-face { font-family: "HeliosCondBold"; src: url("../../../fonts/HeliosCondBold/HeliosCondBold.eot"); src: url("../../../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"), url("../../../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "HeliosCondBoldItalic"; */
@font-face { font-family: "HeliosCondBoldItalic"; src: url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot"); src: url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.woff") format("woff"), url("../../../fonts/HeliosCondBoldItalic/HeliosCondBoldItalic.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RobotoCondensedRegular"; */
@font-face { font-family: "RobotoCondensedRegular"; src: url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot"); src: url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../../../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "RobotoCondensedLight"; */
@font-face { font-family: "RobotoCondensedLight"; src: url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.eot"); src: url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix") format("embedded-opentype"), url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"), url("../../../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* font-family: "RobotoCondensedBold"; */
@font-face { font-family: "RobotoCondensedBold"; src: url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.eot"); src: url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../../../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype"); font-style: normal; font-weight: normal; }
/* line 4, ../../../sass/theme/_base.scss */
.clear { clear: both; }

@media (min-width: 200px) and (max-width: 481px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 21, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 26px; font-size: 1.602rem; line-height: 24px; line-height: 1.5rem; }
  /* line 22, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 23px; font-size: 1.424rem; line-height: 24px; line-height: 1.5rem; }
  /* line 23, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 20px; font-size: 1.266rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 24, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 18px; font-size: 1.125rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 25, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 26, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 14px; font-size: 0.9rem; line-height: 24px; line-height: 1.5rem; }
  /* line 29, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 33, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 0px; text-transform: uppercase; color: #fff; }
  /* line 40, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 44, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 49, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: none !important; }
  /* line 56, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 58, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 63, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; border-image: none; }
  /* line 69, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 481px) and (max-width: 1240px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 84, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 39px; font-size: 2.441rem; line-height: 48px; line-height: 3rem; }
  /* line 85, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 31px; font-size: 1.953rem; line-height: 24px; line-height: 1.5rem; }
  /* line 86, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 25px; font-size: 1.563rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 87, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 20px; font-size: 1.25rem; line-height: 24px; line-height: 1.5rem; font-weight: bold; }
  /* line 88, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 89, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 92, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 98, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 2px; text-transform: uppercase; color: #fff; }
  /* line 105, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 109, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 115, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: medium none !important; }
  /* line 121, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 123, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 128, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; }
  /* line 133, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 1200px) { /* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html { font-size: 100%; line-height: 1.5em; }
  /* line 148, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-size: 64px; font-size: 3.998rem; line-height: 120px; line-height: 7.5rem; }
  /* line 149, ../../../sass/theme/_vertical-rhythm.scss */
  h3 { font-size: 45px; font-size: 2.827rem; line-height: 72px; line-height: 4.5rem; }
  /* line 150, ../../../sass/theme/_vertical-rhythm.scss */
  h4 { font-size: 32px; font-size: 1.999rem; line-height: 48px; line-height: 3rem; }
  /* line 151, ../../../sass/theme/_vertical-rhythm.scss */
  h5 { font-size: 23px; font-size: 1.414rem; line-height: 24px; line-height: 1.5rem; }
  /* line 152, ../../../sass/theme/_vertical-rhythm.scss */
  h6 { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 153, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-size: 19px; font-size: 1.2rem; line-height: 24px; line-height: 1.5rem; }
  /* line 156, ../../../sass/theme/_vertical-rhythm.scss */
  h2, h3, h4, h5, h6 { font-family: "HeliosCondRegular"; }
  /* line 162, ../../../sass/theme/_vertical-rhythm.scss */
  h2 { font-family: "HeliosCondRegular"; letter-spacing: 5px; text-transform: uppercase; color: #fff; }
  /* line 169, ../../../sass/theme/_vertical-rhythm.scss */
  p { font-family: "RobotoCondensedLight"; }
  /* line 173, ../../../sass/theme/_vertical-rhythm.scss */
  p [data-vertical-rhythm="true"] { transition: padding-bottom 2s; }
  /* line 179, ../../../sass/theme/_vertical-rhythm.scss */
  .logotip { font-family: Arial, sans-serif; }
  /* line 183, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-family: "RobotoCondensedLight"; color: #fff; outline: medium none !important; }
  /* line 189, ../../../sass/theme/_vertical-rhythm.scss */
  a { font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 191, ../../../sass/theme/_vertical-rhythm.scss */
  ul, li { font-family: "RobotoCondensedLight"; font-size: 16px; font-size: 1rem; line-height: 24px; line-height: 1.5rem; }
  /* line 196, ../../../sass/theme/_vertical-rhythm.scss */
  img, iframe { display: block; max-width: 100%; }
  /* line 202, ../../../sass/theme/_vertical-rhythm.scss */
  .message { font-family: "RobotoCondensedLight"; } }
@media (min-width: 200px) and (max-width: 767px) { /*end media mobail*/ }
@media (min-width: 1200px) { /* line 11, ../../../sass/theme/theme-index/_typography.scss */
  .chief { margin-top: 24px; margin-top: 1.5rem; margin-bottom: 24px; margin-bottom: 1.5rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  /* line 18, ../../../sass/theme/theme-index/_typography.scss */
  .logotip-almet { text-decoration: none; }
  /* line 21, ../../../sass/theme/theme-index/_typography.scss */
  .logotip-almet p.logotip { text-align: center; text-transform: uppercase; letter-spacing: 2px; color: #000; }
  /* line 29, ../../../sass/theme/theme-index/_typography.scss */
  .menu { padding-top: 48px; padding-top: 3rem; padding-bottom: 48px; padding-bottom: 3rem; }
  /* line 34, ../../../sass/theme/theme-index/_typography.scss */
  .logotip { padding-top: 12px; padding-top: 0.75rem; }
  /* line 38, ../../../sass/theme/theme-index/_typography.scss */
  .menu-site { padding-top: 120px; padding-top: 7.5rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 44, ../../../sass/theme/theme-index/_typography.scss */
  .menu-site ul li a { font-size: 21px; font-size: 1.3rem; line-height: 24px; line-height: 1.5rem; text-decoration: none; color: #000; }
  /* line 49, ../../../sass/theme/theme-index/_typography.scss */
  .menu-site ul li a:hover { border-bottom-width: 5px; border-bottom-width: 0.3125rem; border-bottom-style: solid; padding-bottom: 19px; padding-bottom: 1.1875rem; color: #000; }
  /* line 59, ../../../sass/theme/theme-index/_typography.scss */
  .mod-1 { padding-top: 120px; padding-top: 7.5rem; padding-bottom: 120px; padding-bottom: 7.5rem; }
  /* line 69, ../../../sass/theme/theme-index/_typography.scss */
  .row-mod-2 .mod-2 { padding-top: 96px; padding-top: 6rem; padding-bottom: 96px; padding-bottom: 6rem; }
  /* line 73, ../../../sass/theme/theme-index/_typography.scss */
  .row-mod-2 h4 { color: rgba(123, 30, 30, 0.8); text-transform: uppercase; text-align: center; padding-top: 48px; padding-top: 3rem; padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 80, ../../../sass/theme/theme-index/_typography.scss */
  .row-mod-2 p { text-align: justify; padding-left: 8%; color: #EDEDED; padding-top: 48px; padding-top: 3rem; }
  /*row-mod-gallery*/
  /* line 89, ../../../sass/theme/theme-index/_typography.scss */
  .mod-gallery { padding-top: 96px; padding-top: 6rem; padding-bottom: 96px; padding-bottom: 6rem; }
  /* line 94, ../../../sass/theme/theme-index/_typography.scss */
  .box1 { padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 98, ../../../sass/theme/theme-index/_typography.scss */
  .mod-3 { padding-top: 96px; padding-top: 6rem; padding-bottom: 96px; padding-bottom: 6rem; }
  /* line 102, ../../../sass/theme/theme-index/_typography.scss */
  .mod-3 .text-small-p { font-size: 14px; font-size: 0.9rem; line-height: 24px; line-height: 1.5rem; }
  /* line 107, ../../../sass/theme/theme-index/_typography.scss */
  .new { text-decoration: none; }
  /* line 111, ../../../sass/theme/theme-index/_typography.scss */
  .new p, h5 { padding-bottom: 24px; padding-bottom: 1.5rem; }
  /* line 115, ../../../sass/theme/theme-index/_typography.scss */
  .fa-calendar-minus-o { padding-right: 2%; color: #B4332D; }
  /* line 125, ../../../sass/theme/theme-index/_typography.scss */
  .mod-footer { padding-top: 96px; padding-top: 6rem; padding-bottom: 48px; padding-bottom: 3rem; text-align: center; color: #fff; }
  /* line 132, ../../../sass/theme/theme-index/_typography.scss */
  .logo-footer { padding-bottom: 12px; padding-bottom: 0.75rem; }
  /* line 136, ../../../sass/theme/theme-index/_typography.scss */
  .mod-footer p.logotip { border-bottom-width: 1px; border-bottom-width: 0.0625rem; border-bottom-style: solid; padding-bottom: 11px; padding-bottom: 0.6875rem; color: #000; }
  /* line 141, ../../../sass/theme/theme-index/_typography.scss */
  .fa-map-marker { color: #000; padding-right: 2%; }
  /* line 146, ../../../sass/theme/theme-index/_typography.scss */
  .fa-phone { color: #000; padding-right: 2%; }
  /* line 151, ../../../sass/theme/theme-index/_typography.scss */
  .fa-paper-plane { color: #000; padding-right: 2%; }
  /* line 156, ../../../sass/theme/theme-index/_typography.scss */
  .p-footer-style p { padding-top: 24px; padding-top: 1.5rem; }
  /* line 160, ../../../sass/theme/theme-index/_typography.scss */
  .copy { padding-top: 0px; padding-top: 0rem; }
  /**end media desctop*/ }
@media (min-width: 200px) and (max-width: 767px) { /*end media mobail*/ }
@media (min-width: 1200px) { /* line 11, ../../../sass/theme/theme-index/_components.scss */
  .menu-site ul li { display: inline-block; padding-left: 7%; }
  /**end media desctop*/ }
@media (min-width: 200px) and (max-width: 767px) { /* line 5, ../../../sass/theme/theme-index/_grid-mobail.scss */
  .chief { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:before, .chief:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:last-child { margin-right: 0%; }
  /* line 10, ../../../sass/theme/theme-index/_grid-mobail.scss */
  header { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:before, header:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:last-child { margin-right: 0%; }
  /*svg almet*/
  /* line 14, ../../../sass/theme/theme-index/_grid-mobail.scss */
  .almet { width: 200px; height: 200px; }
  /* line 20, ../../../sass/theme/theme-index/_grid-mobail.scss */
  .menu { background: #000; }
  /*end media mobail*/ }
@media (min-width: 992px) and (max-width: 1199px) { /* line 6, ../../../sass/theme/theme-index/_grid-medium.scss */
  .chief { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:before, .chief:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:last-child { margin-right: 0%; }
  /* line 10, ../../../sass/theme/theme-index/_grid-medium.scss */
  header { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:before, header:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:last-child { margin-right: 0%; }
  /*svg almet*/
  /* line 14, ../../../sass/theme/theme-index/_grid-medium.scss */
  .almet { width: 200px; height: 200px; }
  /* line 19, ../../../sass/theme/theme-index/_grid-medium.scss */
  .menu { background: #000; } }
@media (min-width: 768px) and (max-width: 991px) { /* line 6, ../../../sass/theme/theme-index/_grid-tablet.scss */
  .chief { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:before, .chief:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:last-child { margin-right: 0%; }
  /* line 10, ../../../sass/theme/theme-index/_grid-tablet.scss */
  header { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:before, header:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:last-child { margin-right: 0%; }
  /*svg almet*/
  /* line 14, ../../../sass/theme/theme-index/_grid-tablet.scss */
  .almet { width: 200px; height: 200px; }
  /* line 19, ../../../sass/theme/theme-index/_grid-tablet.scss */
  .menu { background: #000; } }
@media (min-width: 1200px) { /* line 7, ../../../sass/theme/theme-index/_grid.scss */
  body { background: #2A2A2A none repeat scroll 0% 0%; }
  /* line 11, ../../../sass/theme/theme-index/_grid.scss */
  .chief { *zoom: 1; width: auto; max-width: 1190px; float: none; display: block; margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:before, .chief:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .chief:after { clear: both; }
  /* line 14, ../../../sass/theme/theme-index/_grid.scss */
  header { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:before, header:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  header:last-child { margin-right: 0%; }
  /* line 18, ../../../sass/theme/theme-index/_grid.scss */
  .menu { position: relative; background: #fff; *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu:before, .menu:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu:last-child { margin-right: 0%; }
  /* line 24, ../../../sass/theme/theme-index/_grid.scss */
  .logotip-almet { display: block; *zoom: 1; float: left; clear: none; text-align: inherit; width: 22.75%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .logotip-almet:before, .logotip-almet:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .logotip-almet:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .logotip-almet:last-child { margin-right: 0%; }
  /* line 29, ../../../sass/theme/theme-index/_grid.scss */
  .menu-site { *zoom: 1; float: left; clear: none; text-align: inherit; width: 61.375%; margin-left: 4.29167%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu-site:before, .menu-site:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu-site:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .menu-site:last-child { margin-right: 0%; }
  /*svg almet*/
  /* line 34, ../../../sass/theme/theme-index/_grid.scss */
  .almet { width: 110px; height: 110px; margin: auto; }
  /* line 41, ../../../sass/theme/theme-index/_grid.scss */
  .absolute-email { position: absolute; top: 8%; right: 4%; width: 300px; }
  /* line 46, ../../../sass/theme/theme-index/_grid.scss */
  .absolute-email .fa-paper-plane { color: #C23221; }
  /* line 55, ../../../sass/theme/theme-index/_grid.scss */
  .row-mod-1 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; background: url("../../../img/fon/20071101_062.jpg"); background-position: center; background-repeat: no-repeat; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-1:before, .row-mod-1:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-1:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-1:last-child { margin-right: 0%; }
  /* line 62, ../../../sass/theme/theme-index/_grid.scss */
  .mod-1 { height: 100%; width: 100%; background: rgba(0, 0, 0, 0.64) none repeat scroll 0% 0%; }
  /* line 69, ../../../sass/theme/theme-index/_grid.scss */
  .row-mod-2 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-2:before, .row-mod-2:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-2:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-2:last-child { margin-right: 0%; }
  /* line 73, ../../../sass/theme/theme-index/_grid.scss */
  .mod-2 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; background: rgba(99, 99, 99, 0.93); }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-2:before, .mod-2:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-2:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-2:last-child { margin-right: 0%; }
  /* line 79, ../../../sass/theme/theme-index/_grid.scss */
  .almet-preview { *zoom: 1; float: left; clear: none; text-align: inherit; width: 48.5%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .almet-preview:before, .almet-preview:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .almet-preview:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .almet-preview:last-child { margin-right: 0%; }
  /* line 82, ../../../sass/theme/theme-index/_grid.scss */
  .london { width: 100%; height: 393px; }
  /* line 88, ../../../sass/theme/theme-index/_grid.scss */
  .row-mod-gallery { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-gallery:before, .row-mod-gallery:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-gallery:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-gallery:last-child { margin-right: 0%; }
  /* line 92, ../../../sass/theme/theme-index/_grid.scss */
  .mod-gallery { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; background: rgba(0, 0, 0, 0.89); }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-gallery:before, .mod-gallery:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-gallery:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-gallery:last-child { margin-right: 0%; }
  /* line 98, ../../../sass/theme/theme-index/_grid.scss */
  .gallery { width: 90%; margin-left: auto; margin-right: auto; }
  /* line 104, ../../../sass/theme/theme-index/_grid.scss */
  .box1 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 22.75%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .box1:before, .box1:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .box1:after { clear: both; }
  /* line 50, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .box1:nth-child(4n) { margin-right: 0%; float: right; }
  /* line 54, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .box1:nth-child(4n + 1) { clear: both; }
  /* line 108, ../../../sass/theme/theme-index/_grid.scss */
  .row-mod-3 { position: relative; *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; background: #000; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-3:before, .row-mod-3:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-3:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-3:last-child { margin-right: 0%; }
  /* line 113, ../../../sass/theme/theme-index/_grid.scss */
  .mod-3 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 91.41667%; margin-left: 4.29167%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-3:before, .mod-3:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-3:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-3:last-child { margin-right: 0%; }
  /* line 117, ../../../sass/theme/theme-index/_grid.scss */
  .news2 { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .news2:before, .news2:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .news2:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .news2:last-child { margin-right: 0%; }
  /* line 121, ../../../sass/theme/theme-index/_grid.scss */
  .new { *zoom: 1; float: left; clear: none; text-align: inherit; width: 31.33333%; margin-left: 0%; margin-right: 3%; display: block; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .new:before, .new:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .new:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .new:last-child { margin-right: 0%; }
  /* line 127, ../../../sass/theme/theme-index/_grid.scss */
  .row-mod-footer { *zoom: 1; float: left; clear: none; text-align: inherit; width: 100%; margin-left: 0%; margin-right: 3%; background: rgba(195, 52, 46, 0.9) none repeat scroll 0% 0%; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-footer:before, .row-mod-footer:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-footer:after { clear: both; }
  /* line 58, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .row-mod-footer:last-child { margin-right: 0%; }
  /* line 132, ../../../sass/theme/theme-index/_grid.scss */
  .mod-footer { *zoom: 1; width: auto; max-width: 300px; float: none; display: block; margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; text-align: center; color: #fff; font-size: 0.3rem; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-footer:before, .mod-footer:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-footer:after { clear: both; }
  /* line 137, ../../../sass/theme/theme-index/_grid.scss */
  .mod-footer .logo-footer { *zoom: 1; width: auto; max-width: 74px; float: none; display: block; margin-right: auto; margin-left: auto; padding-left: 0; padding-right: 0; }
  /* line 344, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-footer .logo-footer:before, .mod-footer .logo-footer:after { content: ''; display: table; }
  /* line 349, ../../../bower_components/jeet/scss/jeet/_grid.scss */
  .mod-footer .logo-footer:after { clear: both; }
  /* line 140, ../../../sass/theme/theme-index/_grid.scss */
  .mod-footer .logo-footer { width: 100%; height: 72px; }
  /* line 144, ../../../sass/theme/theme-index/_grid.scss */
  .mod-footer .logotip { font-size: 1rem; text-align: center; text-transform: uppercase; letter-spacing: 2px; padding-left: 4px; }
  /* line 151, ../../../sass/theme/theme-index/_grid.scss */
  .mod-footer .social { display: block; width: 300px; }
  /**end media desctop*/ }

/*# sourceMappingURL=index.css.map */
