@charset "UTF-8";


//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){
  .chief{
    @include center(1190px);
  }
  header{
    @include column(12/12);
  }

  .menu{
    @include column(12/12);
  }

.logotip-almet{
 @include column(3/12);
}

  .menu-site{
    @include column(8/12);
  }

  /*svg almet*/
  .almet{
    width: 120px;
    height: 120px;
    margin:auto;

  }



/**end media desctop*/
}
