@charset "UTF-8";

//Верстка под планшеты******************************************************************************************
@media (min-width:768px) and (max-width:991px){
//********************************************************************************************************
.chief{
  @include column(12/12);
}

header{
  @include column(12/12);
}
/*svg almet*/
.almet{
  width: 200px;
  height: 200px;

}
.menu{
  background: #000;
}


//********************************************************************************************************

//end media tablet
}
