@charset "UTF-8";


//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){
  .chief{
    @include center(1190px);
  }
  header{
    @include column(12/12);
  }

  .menu{
    background:#fff;
    @include column(12/12);
  }

.logotip-almet{
 @include column(3/12);
}

  .menu-site{
    @include column(7.5/12, $offset: 0.5/12);
  }

  /*svg almet*/
  .almet{
    width: 110px;
    height: 110px;
    margin:auto;

  }


  //*******************End Header

.row-mod-1{
  @include column(12/12);
}





/**end media desctop*/
}
