@charset "UTF-8";
@import "../vertical-rhythm";

@media (min-width:200px) and (max-width:767px){

  // body{
  //   @include debug-vertical-alignment();
  // }

  .chief{
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  //*header*/
  .logotip-almet{
    text-decoration:none;
  }
  .logotip-almet p.logotip{
    font-family: $logotip;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
      @include adjust-font-size-to (1rem, 1);
      letter-spacing:2px;
  }

  .menu-click{

    @include leader($lines:0.5, $property:padding);
    @include trailer($lines:0.5, $property:padding);
    padding-left:10px;
    padding-right:10px;
  font-family:$p-font;
  span{
    display:none;
  }
  }

.menu{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:2, $property:padding);
}

  .logotip{
  @include leader($lines:0.2, $property:padding);
      @include trailing-border($width:1px, $lines:0.3, $border-style:solid);
  }

  .menu-site{
      @include leader($lines:5, $property:padding);
      @include trailer($lines:1, $property:padding);

  }

    .menu-site ul li a{
      @include adjust-font-size-to (1.3rem, 1);
      text-decoration:none;
      color:#000;
    }
    .menu-site ul li a:hover{
      @include trailing-border($width:5px,$lines:1, $border-style:solid);
      color: #000;
    }

.email{
  color:#fff;
}


///*************End header**************////

//row-mod-1


.mod-1{
  @include leader($lines:5, $property:padding);
  @include trailer($lines:5, $property:padding);
}

.form-email{
  height:100px;
}


.title-index{
  text-align:center;
  @include adjust-font-size-to(1.3rem, 1);
}

.line{
  @include leader($lines:0, $property:padding);
  @include trailing-border($width:5px,$lines:1, $border-style:solid);
  color:#DB1616;
}

.title-p{
    @include leader($lines:1, $property:padding);
    text-align:center;
    color:#fff;
}



///row-mod-2


.row-mod-2{
  .mod-2{
    @include leader($lines:0, $property:padding);
    @include trailer($lines:0, $property:padding);
  }

  p{
    text-align: justify;
    color:#EDEDED;
      @include leader($lines:1, $property:padding);
  }
}

.almet-preview{
  @include leader($lines:0.5, $property:padding);
  @include trailer($lines:0.5, $property:padding);
}

/*row-mod-gallery*/
.mod-gallery{
  @include leader($lines:1, $property:padding);
  @include trailer($lines:1, $property:padding);

}
.box1{
  @include trailer($lines:1, $property:padding);
}

////////////***********partners**********///////////

.mod-part{
  @include leader($lines:1, $property:padding);
  @include trailer($lines:1, $property:padding);
  h3{
    text-align: center;
    @include leader($lines:1, $property:padding);
    @include trailer($lines:1, $property:padding);
  }
}


////***********row-mod-3      news*********//////////
.mod-3{
  @include leader($lines:0, $property:padding);
  @include trailer($lines:0, $property:padding);

.text-small-p{
  @include adjust-font-size-to (0.9rem, 1);
  text-align: justify;
}

}
.new{
  text-decoration:none;
@include leader($lines:1, $property:padding);
@include trailer($lines:1, $property:padding);
}
.new p, h5{
  @include leader($lines:0.2, $property:padding);
@include trailer($lines:0.5, $property:padding);
}

.fa-calendar-minus-o{
  padding-right:2%;
  color: #B4332D;
}



/////******row-mod-footer*****//
///******************************************Footer

.mod-footer{
  @include leader($lines:4, $property:padding);
  @include trailer($lines:2, $property:padding);
text-align:center;
  color:#fff;
}

.logo-footer{
  @include trailer($lines:0.5, $property:padding);
}

.mod-footer p.logotip{
  @include trailing-border($width:1px,$lines:0.3, $border-style:solid);
    @include leader($lines:0.3, $property:padding);
  color:#000;
  font-family: $logotip;

}
.fa-map-marker{
  color:#000;
  padding-right: 2%;
}

.fa-phone{
  color:#000;
  padding-right: 2%;
}

.fa-paper-plane{
  color:#000;
  padding-right: 2%;
}

.p-footer-style p{
  @include leader($lines:1, $property:padding);
}

.copy{
  @include leader($lines:0, $property:padding);
}

//***********MENU SLIDEBAR WIDTH*******/////////
.almet-super-menu{
  @include adjust-font-size-to(1.424rem, 1);
  @include leader($lines:1, $property:padding);
  @include trailer($lines:2, $property:padding);
  @include trailing-border($width:1px,$lines:0.2, $border-style:solid);
  color: #9E2121;
text-align: center;

}

.menu-slidebar-width ul{
  @include leader($lines:1, $property:padding);
  @include trailer($lines:1, $property:padding);
}
.menu-slidebar-width ul li a{
  display:block;
  width:100%;
  text-align: center;
  text-decoration:none;
  @include leader($lines:0.5, $property:padding);
  @include trailer($lines:0.5, $property:padding);
  @include adjust-font-size-to(1.266rem, 1);
    color:#000;

  &:hover{
    @include adjust-font-size-to(1.266rem, 1);
    border-right: 4px solid #E11414;
    background: rgb(195, 195, 195) none repeat scroll 0% 0%;

  }
}

//*************END SLIDEBAR WIDTH***//


/*end media mobail*/
}
