@charset "UTF-8";
@import "../vertical-rhythm.scss";

//ДЛЯ DESCTOP**********************************************************************************************
@media (min-width:1200px){

  // body{
  //   @include debug-vertical-alignment();
  // }

  .chief{
    @include margin-leader;
    @include margin-trailer;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  //*header*/
  .logotip-almet{
    text-decoration:none;
  }
  .logotip-almet p.logotip{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#000;
  }


.menu{
  @include leader($lines:2, $property:padding);
  @include trailer($lines:2, $property:padding);
}

  .logotip{
  @include leader($lines:0.5, $property:padding);
  }

  .menu-site{
      @include leader($lines:5, $property:padding);
      @include trailer($lines:1, $property:padding);

  }

    .menu-site ul li a{
      @include adjust-font-size-to (1.3rem, 1);
      text-decoration:none;
      color:#000;
    }
    .menu-site ul li a:hover{
      @include trailing-border($width:5px,$lines:1, $border-style:solid);
      color: #000;
    }

///*************End header**************////

//row-mod-1


.mod-1{
  @include leader($lines:5, $property:padding);
  @include trailer($lines:5, $property:padding);
}


///row-mod-2


.row-mod-2{
  .mod-2{
    @include leader($lines:4, $property:padding);
    @include trailer($lines:4, $property:padding);
  }
  h4{
    color: rgba(123, 30, 30, 0.8);
    text-transform: uppercase;
    text-align: center;
    @include leader($lines:2, $property:padding);
    @include trailer($lines:1, $property:padding);
  }
  p{
    text-align: justify;
    padding-left:8%;
    color:#EDEDED;
      @include leader($lines:2, $property:padding);
  }
}

/*row-mod-gallery*/
.mod-gallery{
  @include leader($lines:4, $property:padding);
  @include trailer($lines:4, $property:padding);

}
.box1{
  @include trailer($lines:1, $property:padding);
}
////***********row-mod-3      news*********//////////
.mod-3{
  @include leader($lines:4, $property:padding);
  @include trailer($lines:4, $property:padding);

.text-small-p{
  @include adjust-font-size-to (0.9rem, 1);
}

}
.new{
  text-decoration:none;

}
.new p, h5{
@include trailer($lines:1, $property:padding);
}

.fa-calendar-minus-o{
  padding-right:2%;
  color: #B4332D;
}



/////******row-mod-footer*****//
///******************************************Footer

.mod-footer{
	@include leader($lines:4, $property:padding);
	@include trailer($lines:2, $property:padding);
text-align:center;
	color:#fff;
}

.logo-footer{
	@include trailer($lines:0.5, $property:padding);
}

.mod-footer p.logotip{
	@include trailing-border($width:1px,$lines:0.5, $border-style:solid);
  color:#000;

}
.fa-map-marker{
  color:#000;
  padding-right: 2%;
}

.fa-phone{
  color:#000;
  padding-right: 2%;
}

.fa-paper-plane{
  color:#000;
  padding-right: 2%;
}

.p-footer-style p{
  @include leader($lines:1, $property:padding);
}

.copy{
	@include leader($lines:0, $property:padding);
}

/**end media desctop*/
}
